body {
    margin: 0px;
}

main {
    background-color: #4a8468;
    color: #f5f0e4;
    font-size: min(2vw, 2vh);
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

td {
    background-color: #3a6e57;
}

caption {
    caption-side: top;
    padding: 5px;
    text-decoration: underline;
    font-size: smaller;
}

.seat {
    background-color: rgba(0, 0, 0, 0.35);
    padding: min(0.4vw, 0.4vh) min(1vw, 1vh);
    border-radius: min(0.5vw, 0.5vh);
    font-size: smaller;
}

#seatWest {
    position: absolute;
    left: 1%;
    top: 50%;
}

#seatNorth {
    position: absolute;
    left: 48%;
    top: 2%;
}

#seatEast {
    position: absolute;
    left: 96%;
    top: 50%;
}

#seatSouth {
    position: absolute;
    left: 48%;
    top: 94%;
}

#score {
    position: absolute;
    left: 2%;
    top: 2%;
    text-align: end;
}

    #score th {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    #score td {
        padding-left: 5px;
        padding-right: 5px;
    }

#deck {
    position: absolute;
    left: 5%;
    top: 75%;
    text-align: center;
}

    #deck td {
        width: 20px;
    }

#void {
    position: absolute;
    left: 73%;
    top: 75%;
    text-align: center;
}

    #void th {
        padding-left: 5px;
        padding-right: 5px;
    }

    #void td {
        width: 20px;
    }

#hint {
    position: absolute;
    left: 62%;
    top: 75%;
}

#more {
    position: absolute;
    left: 73%;
    top: 10%;
}

.♦ {
    color: red;
}

.♥ {
    color: red;
}

.♣ {
    color: white;
}

.♠ {
    color: white;
}

.card {
    position: absolute;
    width: max(12vh, 80px);
    border: 1px solid gray;
    background-color: gray;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4);
}

.active {
    cursor: pointer;
}

.inactive {
    filter: brightness(0.75) saturate(0.5);
}

.chooser {
    display: none; /* hidden when created */
    font-size: min(2vw, 2vh);
    padding: min(1vw, 1vh);
    background-color: lightcyan;
    color: #2a3a30;
    text-align: center;
    border-radius: min(0.5vw, 0.5vh);
}

    .chooser.ready {
        background: #FFD700;
        cursor: pointer;
    }

#playChooser {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#passChooser {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#acceptChooser {
    position: absolute;
    top: 71%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.banner {
    font-size: x-large;
    width: fit-content;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: darkred;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note {
    text-align: center;
    font-size: small;
}
