body {
    margin: 0px;
}

main {
    background-color: lightblue;
    font-size: min(2vw, 2vh);
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

td {
    background-color: #9DC8D6;
}

caption {
    caption-side: top;
    padding: 5px;
    text-decoration: underline;
    font-size: smaller;
}

.seat {
}

#seat-west {
    position: absolute;
    left: 1%;
    top: 50%;
}

#seat-north {
    position: absolute;
    left: 48%;
    top: 2%;
}

#seat-east {
    position: absolute;
    left: 96%;
    top: 50%;
}

#seat-south {
    position: absolute;
    left: 48%;
    top: 94%;
}

#score {
    position: absolute;
    left: 2%;
    top: 2%;
    text-align: end;
}

    #score th {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    #score td {
        padding-left: 5px;
        padding-right: 5px;
    }

#deck {
    position: absolute;
    left: 5%;
    top: 75%;
    text-align: center;
}

    #deck td {
        width: 20px;
    }

#void {
    position: absolute;
    left: 73%;
    top: 75%;
    text-align: center;
}

    #void th {
        padding-left: 5px;
        padding-right: 5px;
    }

    #void td {
        width: 20px;
    }

#hint {
    position: absolute;
    left: 62%;
    top: 75%;
}

#more {
    position: absolute;
    left: 73%;
    top: 10%;
}

.♦ {
    color: red;
}

.♥ {
    color: red;
}

.♣ {
    color: black;
}

.♠ {
    color: black;
}

.card {
    position: absolute;
    width: max(12vh, 80px);
    border: 1px solid gray;
    background-color: gray;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.active {
    cursor: pointer;
}

.inactive {
    filter: contrast(70%);
}

.chooser {
    display: none; /* hidden when created */
    font-size: min(2vw, 2vh);
    padding: min(1vw, 1vh);
    background-color: lightcyan;
    text-align: center;
    border-radius: min(0.5vw, 0.5vh);
    /* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .chooser p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .chooser button {
        font-size: inherit;
        border: 1px solid #999;
        box-shadow: none;
    }

    .chooser button:enabled {
        background: #FFD700;
        cursor: pointer;
    }

.banner {
    font-size: x-large;
    width: fit-content;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: darkred;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note {
    text-align: center;
    font-size: small;
    font-style: italic;
}
